.boxer {
    border: 2px solid red;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;

}

.heimsidebilde {
    border: 2px solid green;
}

#heimsideskuleplass {
    width: 100%;
    height: auto;
}

.navbar {
    border: 2px solid green;
    margin: 2px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: royalblue;
}
  
.navbar li {
    float: right;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
  
.navbar a:hover {
    background-color: #111111;
}
  

